src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" xmlns:cors="http://www.mulesoft.org/schema/mule/cors" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/cors http://www.mulesoft.org/schema/mule/cors/current/mule-cors.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd" version="EE-3.5.1">
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="true" consolePath="console" doc:name="Router"/>
    <cors:config name="Cors_Configuration" doc:name="Cors Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8851"  doc:name="HTTP Listener Configuration"/>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping" >
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

	<flow name="console" >
        <http:inbound-endpoint exchange-pattern="request-response" address="http://0.0.0.0:8850/console" doc:name=":8850/console" port="8081">
        	<mule-ss:http-security-filter realm="mule-realm" securityProviders="security-provider" />
        	<not-filter>
                <wildcard-filter pattern="/favicon.ico" />
            </not-filter>
        </http:inbound-endpoint>
        <apikit:console doc:name="APIkit Console" config-ref="api-config"/>
    </flow>
    <flow name="api-main" >
        <http:inbound-endpoint exchange-pattern="request-response"  address="http://0.0.0.0:8851/api" doc:name=":8851/api" port="8081"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router" />
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>

    <flow name="get:/{countryCode}/{cityName}/current-weather:api-config" >
        <http:outbound-endpoint exchange-pattern="request-response"  port="8081" method="GET" endpointnode="HTTP" doc:name="GET: OpenWeather /weather" address="http://api.openweathermap.org/data/2.5/weather?q=#[cityName],#[countryCode]"/>
    </flow>
    <flow name="get:/{countryCode}/{cityName}/forecast:api-config" >
        <http:outbound-endpoint exchange-pattern="request-response"  port="8081" method="POST" endpointnode="HTTP" doc:name="GET: OpenWeather /forecast" address="http://api.openweathermap.org/data/2.5/forecast?q=#[cityName],#[countryCode]"/>
    </flow>
</mule>
